#navbar{
    /* border:3px;
    border-style: solid;
    border-color:#FCE205; */
    font-size: 20px;
    /* overflow: hidden; */
    background-color: transparent;
    overflow: hidden;
    
    
}
.navbar a{
    float: left;
    text-align: center;
    text-decoration: none;
    color:black;
}
#title{
    text-decoration: none;
    font-family: 'Monoton', cursive;
    padding-right: 400px;
    font-size:40px;
    float: left;
    color:black;
}
.listItem{
    font-family: 'Fugaz One', cursive;
    font-size: 20px;
}

.logo{
    margin-top: 0px;
    float: left;
    height: 60px;
    width: 60px;
    padding-right: 10px;
}
.avi{
    height: 70px;
    width: 70px;
    padding-left: 40px;
}

.caret{
    float: right;
    font-family: 'Fugaz One', cursive;
    font-weight: lighter;
    padding: 14px 16px;
}
.caretWrapper{
    float: right;
}
.dropdown{
    float: right;
    overflow: hidden;
    padding-right: 200px;
    
}
.add{
    height: 48;
    width: 48;
    float: left;
}
.dropdownContent {
    display: none;
    position: relative;
    /* background-color: #f9f9f9; */
    min-width: 160px;
    /* box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2); */
    z-index: 1;
}
.dropdownContent > a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
.caretWrapper:hover .dropdownContent {
    display: block;
    
}
.caretWrapper:hover{
    color: #FE7D6A
    
}
.dropdownContent a:hover {
    color: #FC4C4E;
}
